@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  textarea {
    resize: none;
  }

  html {
    height: 100%;
  }

  body {
    height: 100%;
  }

  #root {
    height: 100%;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer components {
  .profile {
    position: relative;
    min-height: 100vh;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-position: center center;
  }

  .chat {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    height: 100%;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-position: center center;
  }
}